p {
    word-spacing: -1px;
    font-weight: 2px;

}
.my-text {
    color: blue;
}
.navbar-btn {
    padding: 12px 28px !important;
    font-size: 15px !important;
    font-weight: 20px;
    border-radius: 20px !important;
    height: 35px !important;
    color: #fff;
}
.card-h {
    justify-content: space-between;
}
.btn-lg-1 {
    background-color: #F7F4FC;
    color: black;
    border-color: #F7F4FC;
    padding: 16px 40px;
}
    

.btn-lg-2  {
    background-color: #EA0E78;
    border-color: #EA0E78;
    color: #fff;
    width: 50%;
    padding: 16px 40px;
}
.btn-lg-3 {
    background-color: #F7F4FC;
    color: black;
    border-color: #F7F4FC;
    padding: 16px 40px;
}
@media(min-width: 800px) { 
    .container {
        min-width: 800px;
    }
}